@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tutorial 02</h1>
    <p>ASP .NET MVC com WebApi</p>

    <p>/api/cliente</p>
    <p>/api/cliente/{id}</p>
</div>
